.header {
  position: relative;
}

.header__burger {
  position: absolute;
  top     : 5%;
  left    : 5%;

  display: block;
  z-index: 10;
}

.burger {
  display       : flex;
  flex-direction: column;
  width         : 24px;
  height        : 19px;
  transition    : transform 0.3s ease-in;
  z-index       : 16;
}

.burger_opened {
  transform : translateX(80vw);
  transition: transform 0.3s ease-in;
}

.burger:focus {
  outline: none;
}

.burger__elem {
  position: relative;

  width : 100%;
  height: 3px;

  background-color: #fff;
}

.burger__elem:not(:nth-of-type(3)) {
  margin-bottom: 4px;
}

.burger_opened .burger__elem_top {
  transform : translateY(5.5px) rotate(45deg);
  transition: all 0.2s linear;
}

.burger_closed .burger__elem_top {
  transform : translateY(0px) rotate(0);
  transition: all 0.2s linear;
}

.burger_opened .burger__elem_bottom {
  transform : translateY(-8.5px) rotate(-45deg);
  transition: all 0.2s linear;
}

.burger_closed .burger__elem_bottom {
  transform : translateY(0) rotate(0);
  transition: all 0.2s linear;
}

.header__top-wrap {
  position       : absolute;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  margin-bottom  : 105px;

  color: #fff;
}

.header__mobile-menu {
  position: absolute;
  top     : 0;
  left    : 0;

  width           : 80vw;
  height          : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  transform       : translateX(-80vw);
  background-color: #503ef6;
  z-index         : 15;
  transition      : transform 0.3s ease-out;
}

.header__mobile-menu_open {
  transform : translate(0);
  transition: transform 0.3s ease-out;
  box-shadow: 232px -1px 0 rgba(0, 0, 0, .85)
}

.switch {
  display      : flex;
  margin-bottom: 50px;
  margin-top   : 50px;
}

.switch__btn {
  padding: 14px 23px;

  font-size       : 25px;
  line-height     : 30px;
  letter-spacing  : 0.15em;
  font-weight     : bold;
  text-transform  : uppercase;
  color           : #fff;
  background-image: none;
  transition      : background-image 0.3s ease-out, border-radius 0.3s ease-out;
}

.switch__btn_active {
  outline         : none;
  border-radius   : 50px;
  background-image: url("../img/logo-bg.png");
}

.header__nav {
  display: flex;
  z-index: 5;
}

.nav__list {
  display       : flex;
  flex-direction: column;
  margin-bottom : 50px;

  font-family: "Gotham Pro";
  font-weight: 700;
  font-size  : 18px;
}

.nav__item {
  padding   : 14px 23px;
  transition: text-decoration 0.3 ease-in;
}

.nav__item>a:hover,
.nav__item>a:focus,
.nav__item>a:active {
  outline        : none;
  text-decoration: underline;
}

.header__phone-wrap {
  position: relative;

  display: flex;

  font-family: "Gotham Pro";
  font-weight: 700;
  font-size  : 30px;
  line-height: 38px;

  z-index: 5;
}

.header__phone {
  display  : block;
  font-size: 20px;
}

.header__phone-icon {
  margin-right: 8px;
}

.slider__list {
  /* position: relative; */
  display: flex;
}

.slider__item {
  /* position: relative; */

  width      : 100vw;
  height     : 100vh;
  padding-top: 120px;

  overflow      : hidden;
  padding-bottom: 220px;

  background-image   : url("../img/header-bg-1-small.jpg");
  background-image   : url("../img/header-bg-1-small.webp");
  background-position: center center;
  background-repeat  : no-repeat;
  background-size    : cover;
}

.slider__sub-item {
  /* position: relative; */

  display       : flex;
  flex-direction: column;
}

.slider__desc {
  margin-bottom: 105px;

  font-size  : 35px;
  line-height: 110%;
  font-weight: 500;
  color      : #fff;
  z-index    : 5;
}

.slider__bold {
  display      : block;
  margin-bottom: 30px;

  font-weight: 700;
  font-size  : 40px;
  line-height: 110%;
}

.slider__link {
  padding: 15px 30px;

  font-size  : 25px;
  list-style : 27px;
  font-weight: 700;
  color      : #fff;
  text-align : center;

  background-color: #dc5474;
  box-shadow      : 0px 10px 30px rgba(255, 255, 255, 0.25);
  border-radius   : 50px;
  transition      : background-color 0.3s ease-in;
}

.slider__link:hover,
.slider__link:focus,
.slider__link:active {
  outline         : none;
  background-color: #2c78da;
}

.slider__img,
.slider__img-sec {
  display: none;
}

.header__btn-wrap {
  position: absolute;
  bottom  : 4%;
  right   : 5%;

  display        : none;
  justify-content: flex-end;
  width          : auto;
}

.header__btn {
  padding      : 35px 40px;
  border-radius: 50%;
  display      : flex;

  text-align: center;
  transition: background-color 0.3s linear, box-shadow 0.3s ease-out;
}

.header__btn_left {
  margin-right: 14px;
  transform   : rotate(180deg);
}

.header__btn:hover {
  background: linear-gradient(125.99deg, #dc5474 14.79%, #503ef6 84.91%);
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.05);
}

.header__btn:focus {
  outline: none;
}

.header__btn_active {
  background: linear-gradient(125.99deg, #dc5474 14.79%, #503ef6 84.91%);
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.05);
}

.header__track {
  position: relative;
}

.slider__item_sec {
  background-image: url("../img/header-bg-2-small.jpg");
  background-image: url("../img/header-bg-2-small.webp");
}

/* второй экран */
.slider__item_sec {
  display: none;
}

.slider__content {
  display       : flex;
  flex-direction: column;
  color         : #fff;
  z-index       : 5;
}

.slider__title {
  margin-bottom: 15px;

  font-weight: 500;
  font-size  : 40px;
  line-height: 44px;
}

.slider__title-bold {
  margin-bottom: 16px;
  font-weight  : 900;
  font-size    : 65px;
  line-height  : 110%;
}

.slider__price {
  margin-bottom: 64px;

  font-weight: bold;
  font-size  : 55px;
  line-height: 110%;
}

@media (min-width: 576px) {
  .slider__bold {
    font-size: 42px;
  }

  .slider__link {
    padding: 25px 70px;
  }
}

@media (min-width: 768px) {
  .slider__img {
    position: absolute;
    right   : 7%;
    display : block;
  }

  .slider__img-sec {
    position: absolute;
    right   : -10%;
    bottom  : calc(100vh - 115%);

    display  : block;
    transform: scale(0.8);
  }
}

@media (min-width: 992px) {
  .slider__img-sec {
    bottom: calc(100vh - 125%);
  }
}

@media (min-width: 1200px) {
  .slider__item {
    padding-top: 250px;

    background-image: url("../img/header-bg-1.jpg");
    background-image: url("../img/header-bg-1.webp");
  }

  .header__burger {
    display: none;
  }

  .header__top-wrap {
    margin-top: 25px;
    width     : 100%;
  }

  .header__mobile-menu {
    position        : relative;
    width           : 75%;
    height          : auto;
    flex-direction  : row;
    justify-content : space-between;
    transform       : translateX(0);
    background-color: inherit;
  }

  .switch {
    display      : flex;
    margin-bottom: 0;
    margin-top   : 0;
  }

  .switch__btn {
    padding: 14px 23px;

    font-size       : 25px;
    line-height     : 30px;
    letter-spacing  : 0.15em;
    font-weight     : bold;
    text-transform  : uppercase;
    color           : #fff;
    background-image: none;
    transition      : background-image 0.3s ease-out, border-radius 0.3s ease-out;
  }

  .switch__btn_active {
    outline         : none;
    border-radius   : 50px;
    background-image: url("../img/logo-bg.png");
  }

  .header__nav {
    z-index: 5;
  }

  .nav__list {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    margin-bottom : 0;

    font-family: "Gotham Pro";
    font-weight: 700;
    font-size  : 18px;
  }

  .nav__item {
    padding: 14px 21px;
  }

  .nav__item>a:hover,
  .nav__item>a:focus,
  .nav__item>a:active {
    outline        : none;
    text-decoration: underline;
  }

  .header__phone-wrap {
    position: relative;

    display    : block;
    margin-left: auto;

    font-family: "Gotham Pro";
    font-weight: 700;
    font-size  : 30px;
    line-height: 38px;

    z-index: 5;
  }

  .header__phone {
    display: none;
  }

  .header__phone-icon>img {
    vertical-align: bottom;
  }

  .slider__desc {
    max-width: 565px;
  }

  .slider__bold {
    font-weight: 900;
    font-size  : 60px;
  }

  .slider__img {
    transform: scale(0.8);
    position : relative;
    right    : -450px;
    top      : calc(100vh - 1280px);
  }

  .slider__title-bold {
    font-size: 90px;
  }

  .slider__item_sec {
    background-image: url("../img/header-bg-2.jpg");
    background-image: url("../img/header-bg-2.webp");
  }

  .header__btn-wrap {
    display: flex;
  }
}

@media (min-width: 1550px) {
  .header__top-wrap {
    justify-content: space-between;
    align-items    : center;
    height         : 60px;
    margin-bottom  : 220px;
  }

  .header__phone-wrap {
    display    : flex;
    align-items: center;
    margin-left: 0;
  }

  .header__phone {
    display    : block;
    margin-left: 20px;
  }

  .slider__desc {
    max-width: 865px;
  }

  .slider__bold {
    font-size: 90px;
  }

  .slider__img {
    right    : -620px;
    top      : calc(100vh - 1425px);
    transform: scale(1);
  }

  .slider__img-sec {
    bottom   : 0;
    right    : -5%;
    transform: scale(1);
  }
}