.plotter {
    padding-top   : 110px;
    padding-bottom: 133px;

    background-image : url('../img/plotter-mobile-bg.webp');
    background-image : url('../img/plotter-mobile-bg.jpg');
    background-repeat: no-repeat;
    background-size  : cover;

    color: #fff;
}

.plotter__title {
    display       : flex;
    flex-direction: column;
    margin-bottom : 50px;

    font-weight: bold;
    font-size  : 35px;
    line-height: 110%;
}

.plotter__sub-title {
    margin-bottom: 11px;
}

.plotter__bold-title {
    text-transform: uppercase;
}

.plotter__text {
    margin-bottom: 50px;

    font-weight: 500;
    font-size  : 25px;
    line-height: 110%;
}

.plotter__text_top {
    margin-bottom: 32px;
}

.plotter__desc-wrap {
    position: relative;

    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.plotter__desc {
    margin-bottom: 30px;

    font-weight: bold;
    font-size  : 25px;
    line-height: 110%;
}

.plotter__info {
    display: none;
}

.plotter__phone {
    display: none;
}


@media(min-width: 768px) {
    .plotter__title {
        font-size: 50px;
    }

    .plotter__desc-wrap {
        align-items: flex-end;
    }

    .plotter__desc {
        width        : 350px;
        margin-bottom: 40px;
    }

    .plotter__info {
        position: absolute;
        top     : -45px;
        left    : -20px;

        display      : block;
        width        : 300px;
        height       : 300px;
        border-radius: 50%;
        padding      : 80px 20px;

        font-weight: 500;
        font-size  : 30px;
        line-height: 110%;
        text-align : center;

        background: linear-gradient(127.33deg, #DC5474 14.71%, #FFAD3D 85.29%), #DC5474;
    }
}

@media(min-width: 1200px) {
    .plotter {
        background-image: url('../img/plotter-bg.webp');
        background-image: url('../img/plotter-bg.jpg');
    }
}

@media(min-width: 1300px) {
    .plotter {
        position: relative;
    }

    .plotter__container {
        display       : flex;
        flex-direction: column;
    }

    .plotter__title {
        align-self: flex-end;
    }

    .plotter__wrap {
        display        : flex;
        justify-content: space-between;
    }

    .plotter__text-wrap {
        max-width: 600px;
    }

    .plotter__desc-wrap {
        position       : relative;
        justify-content: start;
        flex-grow      : 1;
    }

    .plotter__desc {
        position  : relative;
        text-align: center;
    }

    .plotter__img {
        display: none;
    }

    .plotter__info {
        z-index: 5;
        left   : 0px;
        top    : 60px
    }

    .plotter__img {
        position: absolute;
        left    : 50%;
        top     : 57%;

        display: block;
    }
}

@media (min-width: 1700px) {
    .plotter__phone {
        position: absolute;
        top     : -200px;

        display: block;
        left   : 0;
    }
}